.frist-text{
  font-size: 45px;
  font-weight: 700;
}
.frist-img{
  width: 400;
}
.frist-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(228, 209, 228);
  padding: 30px 100px 0px 100px;
}
.pri-btn{
  border-radius: 5px;
  background: rgb(225, 132, 222);
  border: 0;
  color: azure;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}
h3{
  font-size: 30px;
  
}
sec-img{
  justify-content: space-around;
 margin-left: 50px;
 
}
.sec-text{
  align-items: center;
  margin-left: 600px;
}
.sec-container{
  margin-top: 200px;
}
.trd-container{
  display: flex;
  justify-content: space-around;
margin-top: 200px;
  
}
.trd-text{
margin-left: 50px;
}
.frth-text{
  text-align: center;
  margin-left: 50px;
}
.frth-container{
  margin-left: 100px;
  margin-top: 200px;
}
.fif-text{
  margin-left: 700px;
}
.fif-container{
  background-color: aqua;
  margin-top: 200px;
}
footer{
  text-align: center;
  color: aliceblue;
  background-color: black;
}
table{
  border-collapse: collapse;
}
td,th {
  border: 5px solid orchid;
  padding: 10px 40px;
}
.tbl-sec{
  margin-top: 200px;
  margin-left: 500px;
}